# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Data and preprocessed data
data/
preprocessed_data/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db 
.VSCodeCounter/